# dependencies
/node_modules
/**/node_modules
/**/package-lock.json
/**/yarn.lock
/**/pnpm-lock.yaml

# editor
.idea
.vscode
.hbuilderx
.eslintrc.js
/**/.ide
/**/.mini-ide
/**/.vscode*
/**/.cache

# production
/build
/dist

# misc
.DS_Store

#log
/*.log
/npm-debug.log*
/yarn-error.log
junit.xml

# builder
rollup.config.js
rollup.plugins.config.js
