# dependencies
/node_modules
/**/node_modules
/**/package-lock.json
/**/yarn.lock
/**/pnpm-lock.yaml

# editor
.idea
.vscode
.hbuilderx
/**/.ide
/**/.mini-ide
/**/.vscode*
/**/.cache

# develop
.gitlab
test
vitest.config.ts
demos
src/adapters
dist/adapters
src/extraPlugins
dist/extraPlugins
dist/performance
bin/build/plugins-adapters.sh
bin/build/plugins-extraPlugins.sh
bin/build/plugins-normal.sh
bin/dev/plugins-adapters.sh
bin/dev/plugins-extraPlugins.sh
bin/dev/plugins-normal.sh

# misc
.DS_Store
.history

# logs
/*.log
/npm-debug.log*
/yarn-error.log
junit.xml
