# dependencies
/node_modules
/**/node_modules
/**/package-lock.json
/**/yarn.lock
/**/pnpm-lock.yaml

# editor
.idea
.vscode
.hbuilderx
/**/.ide
/**/.mini-ide
/**/.swan
/**/.vscode*
/**/.cache

# production
/dist
/**/dist
/src/adapters
/src/extraPlugins

# develop
/test

# misc
.DS_Store

# logs
/*.log
/npm-debug.log*
/yarn-error.log
junit.xml

# demo
/demos